<div class="d-flex container">
    <div class="w-25">
        <app-product-package *ngIf="data" [productPackage]="data">
            <button mat-mini-fab (click)="onDeleteClicked(item)" color="accent">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="onEditClicked(item)" color="accent">
                <mat-icon>edit</mat-icon>
            </button>
        </app-product-package>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="w-75 rates">
        <app-rate-plan-list *ngIf="data && data.rate_plans" [productPackageId]="data.id" [ratePlans]="data.rate_plans">
        </app-rate-plan-list>
    </div>
</div>