<div class="d-flex container">
    <div class="w-25">
        <app-rate-plan *ngIf="data" [ratePlan]="data">
            <button mat-mini-fab (click)="onDeleteRatePlanClicked(data)" color="accent">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="onEditRatePlanClicked(data)" color="accent">
                <mat-icon>edit</mat-icon>
            </button>
        </app-rate-plan>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="w-75 rates">
        <app-billing-products-list *ngIf="data && data.billing_products" [productPackageId]="productPackageId"
            [ratePlanId]="data.id" [billingProducts]="data.billing_products">
        </app-billing-products-list>
    </div>
</div>